@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-background: #ece5f0;
  --color-foreground: #1c1917;
  --color-card: #ffffff;
  --color-card-foreground: #1c1917;
  --color-primary: #c2703a;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f0eaf4;
  --color-secondary-foreground: #44403c;
  --color-muted: #f0eaf4;
  --color-muted-foreground: #78716c;
  --color-border: #d8d0de;
  --color-ring: #c2703a;
  --color-destructive: #ef4444;
  --color-success: #22c55e;
  --color-warning: #eab308;

  --font-sans: "Inter";
  --font-mono: "JetBrainsMono";

  --radius-sm: 0.5rem;
  --radius-md: 0.625rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}
