@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme inline {
  --color-background: #fafaf9;
  --color-foreground: #1c1917;
  --color-card: #ffffff;
  --color-card-foreground: #1c1917;
  --color-primary: #8cc7be;
  --color-primary-foreground: #141614;
  --color-secondary: #f2f5f3;
  --color-secondary-foreground: #1c1917;
  --color-muted: #f2f5f3;
  --color-muted-foreground: #78716c;
  --color-border: #e5e5e4;
  --color-ring: #8cc7be;
  --color-destructive: #ef4444;
  --color-success: #22c55e;
  --color-warning: #eab308;

  --font-sans: "Inter";
  --font-mono: "JetBrainsMono";

  --radius-sm: 0.5rem;
  --radius-md: 0.625rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}
